@model IEnumerable<CBTW.Microservices.UI.Domain.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>
<div class="row mb-5">
    <div class="col-md-12">
        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="@Model.FirstOrDefault().TipoDocumento" class="control-label"></label>
                    <select id="drpEmpList" class="form-control" asp-for="@Model.FirstOrDefault().IdTipoDocumento" asp-items="@(new SelectList(ViewBag.TiposDeDocumento, "Value", "Text"))">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.FirstOrDefault().Documento" class="control-label"></label>
                    <input asp-for="@Model.FirstOrDefault().Documento" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.FirstOrDefault().Ciudad" class="control-label"></label>
                    <select id="drpEmpList" class="form-control" asp-for="@Model.FirstOrDefault().IdCiudad" asp-items="@(new SelectList(ViewBag.Ciudades, "Value", "Text"))">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.FirstOrDefault().TelefonoCC" class="control-label"></label>
                    <select id="drpEmpList" class="form-control" asp-for="@Model.FirstOrDefault().IdTelefonoCC" asp-items="@(new SelectList(ViewBag.TelefonosCC, "Value", "Text"))">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="col-md-12 mt-3">
                    <input type="submit" value="Buscar" class="btn btn-secondary float-end" />
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPaisCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoCC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoPaisCelular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoCC)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>